body {
  font-family: Arial, sans-serif;
}

.destination-form,
.activities-form,
.expenses-form {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.destination-form label,
.activities-form label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.account-form {
  margin: auto;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  width: 15%;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 5px rgb(180, 177, 177);
  background-color: rgb(235, 242, 248);
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.account-form label,
.account-form input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.account-form input {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}

.account-form p {
  text-align: center;
}

.account-form p a {
  text-decoration: none;
  color: black;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
}

.account-form p a:hover {
  opacity: 0.6;
}
